#main {
	
	font-family: 'Raleway', sans-serif;
	background-image: url("/public/img/les-paul.jpg");
  	background-repeat: no-repeat;
 	background-size: cover;
	height: 700px;
}

#main h1 {
	
	font-size: 100px;
	font-weight: bold;
	color: #ff0000;
	line-height: 500px;
}
