#main {
	
	font-family: 'Raleway', sans-serif;
	background-image: url("/public/img/les-paul.jpg");
  	background-repeat: no-repeat;
 	background-size: cover;
	height: 100vh;

}

#about-me {
	
	font-family: 'Raleway', sans-serif;
	background-image: url("/public/img/grey_wash_wall.png");
  	background-repeat: repeat;
 	background-size: auto;
	height: 100vh;
	
}

#projects-page {

	font-family: 'Raleway', sans-serif;
	background-image: url("/public/img/les-paul.jpg");
  	background-repeat: no-repeat;
 	background-size: cover;
	height: 100vh;	
	
}

#title {
  	text-align: center;
  	margin: 20vh auto;
  	display: none;
}

#title h1 {
	font-size: 100px;
	font-weight: bold;
	color: #a51010;
	background-color: rgba(255, 255, 255, 0.7);
}


#about-title {
	text-align: center;
  	margin: 10vh auto;
  	display: none;
}

#about-title h1 {
	font-size: 70px;
	font-weight: bold;
	color: #ffffff;
}

#about-content {
	margin-bottom: 10vh;
	display: none;
}

#about-content p {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #ffffff;
}

#links {
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin: 0 auto;
}

#about-links {
	margin-top: 20vh;
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

#github {
	background: #000000;
	color: #ffffff;
}

#github:hover {
	background: #333333;
}

#linkedin {
	background: #0077b5;
	color: #ffffff;
}

#linkedin:hover {
	background: #006399;
}

#freecodecamp {
	background: #009900;
	color: #ffffff;
	width: 220px;
}

#freecodecamp:hover {
	background: #008000;
}
.button-link {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
	font-size: 25px;
	line-height: 50px;
	display: none;
}

a {
	text-decoration: none !important;
}

.link {
	display: none;
	font-size: 50px;
	color: #a51010;
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.link:hover {
	background-color: rgba(255, 255, 255, 0.8);
}



